{% extends "core/auth_base.html" %}
{% block title %}Forgotten password - LinkedIn Dashboard{% endblock %}
{% block body %}
  <h1>Forgotten password</h1>
  <p class="lead">Enter the email address of your account. We will send you a link
    to set a new password. The link is valid for three days and can be used once.</p>
  {% if form.errors %}
  <p class="error">Please enter a valid email address.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_email">Email address</label>
      <input type="email" name="email" id="id_email" autocomplete="email" autofocus required />
    </div>
    <button type="submit">Send the link</button>
  </form>
  <a class="back" href="{% url 'login' %}">Back to sign in</a>
{% endblock %}
